<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="main">
	<div id="header">
		<a class="link_main" href="/">
			<img alt="Chuvsu logo" src="/images/chuvsu_logo.jpg" />
		</a>
		<h1 class="link_main">
			<a class="link_head" href="/">ЧУВАШСКИЙ ГОСУДАРСТВЕННЫЙ</a>
			<br /><a class="link_head" href="/">УНИВЕРСИТЕТ имени И.Н.Ульянова</a>
		</h1>
		<ul class="top_links">
			<li class="menu">
				<a class="test" href="/contacts">Контакты | </a>
			</li>
			<li class="menu">
				<a class="test" href="/sitemap">Карта сайта | </a>
			</li>
			<li class="menu">
				<% if user_signed_in? %>
  					<%= link_to current_user.email, root_path %>
  					<%= link_to('Выход', destroy_user_session_path, :method=>'delete') %>  
				<% else %>
					<a class="test" href="/users/sign_in">Войти</a>
				<% end %>
			</li>
			<br>
			<li class="menu">
				<%= form_tag("/search", method: "get", class: "search_form") do %>
  					<%= text_field_tag(:q) %>
  					<%= submit_tag("Search") %>
				<% end %>
			</li>
		</ul>
	</div>
	<a class="link_main" href="/">
		<img alt="Head banner" src="/images/head_banner.jpg" />
	</a>
	<div class="main_menu">
		<ul class="m_menu">
			<li class="menu_items" id="menu_item1">
				<a class="menu_link" href="/abit">Абитуриент</a>
			</li>
			<li class="menu_items" id="menu_item2">
				<a class="menu_link" href="/news">Новости</a>
			</li>
			<li class="menu_items" id="menu_item3">
				<a class="menu_link" href="/facult">Факультет</a>
			</li>
			<li class="menu_items" id="menu_item4">
				<a class="menu_link" href="/stud">Студенты</a>
			</li>
			<li class="menu_items" id="menu_item5">
				<a class="menu_link" href="http://vk.com/photos129303046">Фотохроника</a>
			</li>
			<li class="menu_items" id="menu_item6">
				<a class="menu_link" href="/olymp">Олимпиада для школьников</a>
			</li>
		</ul>
	</div>
	<table>
	<tr>
	<td>
	<div id="content">
		<table>
			<tr>
				<td>
		<div id="left_menu">
			<h2>НОВОСТИ</h2>
			<div id="display_news">
				<% @top_news.each do |top_news| %>
				<%= link_to(BlueCloth.new(top_news.title).to_html().html_safe(), "/news/"+top_news.id.to_s) %>
				<% end %>
			</div>
			<h2>ССЫЛКИ</h2>
			<div id="display_links">
				<%= link_to("ИВТ Вконтакте", "http://vk.com/id129303046") %>
				<br> <br>
				<%= link_to("ЧГУ им. Ульянова", "http://chuvsu.ru") %>
			</div>
		</div>
				</td>
				<td>
		<div class='out_body'>
			<%= yield %>
		</div>
		</td>
		</tr>
		</table>
	</div>
	</td>
	</tr>
	<tr>
	<td>
	<div id="about_bottom">
		Copyright © ФГОУ ВПО "Чувашский Государственный Университет им. И.Н.Ульянова" - Кафедра Вычислительной Техники 
	</div>
	<div id="bottom_links">
		Здесь типа ссылки для связи с админами
	</div>
	</div>
	</td>
	</tr>
	</table>
</body>
</html>
